* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: linear-gradient(to right, #05458f, #0624aa);
    color: aliceblue;
    overflow-x: hidden;
}

.logo {
    text-align: left;
}

.logo img {
    margin-top: -30px;
    position: relative;
    top: 65px;
}

.nav-bar {
    background-color: #041355;
    padding: 10px 20px;
    text-align: center;
    height: 150px;
}

.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-list li {
    margin: 10px 15px;
    position: relative;
    top: -60px;
}

.nav-list li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s;
    padding: 10px;
    display: inline-block;
}

.nav-list li a:hover {
    color: #006eff;
}

section {
    padding: 50px 20px;
    margin: 20px auto;
    max-width: 1200px;
}

section h2 {
    color: #006eff;
    margin-bottom: 20px;
    text-align: left;
}

section p {
    font-size: 16px;
    color: aliceblue;
    text-align: left;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 0 20px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.nav-item {
    border-radius: 250px;
    border: 2px solid rgb(43, 0, 201);
}

.nav-item li:active {
    box-shadow: 0 0 10px #006eff, 0 0 20px #006eff, 0 0 30px #006eff;
    background-color: #004f91;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #006eff;
}

.imgi {
    flex: 1;
    text-align: center;
    padding: 20px;
}

.imgi img {
    max-width: 100%;
    height: 1000px;
    width: 1500px;
    border-radius: 20px;
    object-fit: cover;
    margin-left: 82px;
    margin-top: -202px;
}

.logoi {
    flex: 1;
    text-align: left;
    padding: 20px;
}

.logoi img {
    max-width: 100%;
    height: 500px;
    margin-bottom: 80px;
}

@media (max-width: 768px) {
    .nav-list {
        flex-direction: column;
    }

    .nav-list li {
        padding: 10px 0;
    }

    .container {
        flex-direction: column;
        text-align: center;
    }

    .imgi, .logoi {
        padding: 10px 0;
    }
}
