   * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      background-image: url('/front-end/assets/images/inicio.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      min-height: 150vh;
      font-family: Arial, sans-serif;
      color: white;
    }

    .navbar {
      background-color: rgba(0, 0, 0, 0.8) !important;
    }

    .nav-link {
      transition: all 0.3s ease;
      padding: 10px 20px;
      border-radius: 8px;
      border: 2px solid transparent;
    }

    .nav-link:hover {
      background-color: #f2842a;
      border: 2px solid white;
      color: white;
    }